aside a{
    text-decoration: none;
    font-size: 20px;
    color: #572c10;
    font-family: 'Georgia';
}

.menu {
    /* border: 1px solid red; */
    width: 150px;
    margin: 30px;
}
.menu > li {
    width: 100%;
    line-height: 80px;
}

.submenu > li {
    line-height: 25px;
}

.submenu {
    height: 0px;
    overflow: hidden;
}
.menu > li:hover {
    transition-duration: 0.5s;
}
.menu >li:hover .submenu {
    height: 150px;
    transition-duration: 0.5s;
}