/*스크롤바 숨기기*/
.sc-blind {
    width: 1100px;
    overflow: hidden;
}
#lookbook_img_box {
    /* border: 1px solid blue; */
    width: 1200px;
    height: 800px;
    overflow-y: auto;
}

/*이미지 정렬 및 효과*/
.lookbook_item {
    /* border: 1px solid red; */
    float: left;
    margin: 30px;
}
.lookbook_item img {
    width: 300px;
    height: 450px;
    border-radius: 15px;
    -webkit-filter: grayscale(70%);
    filter: gray;
}
.lookbook_item img:hover {
    -webkit-filter: grayscale(0%);
    filter: none;
}

/*타이틀*/
.lookbook_item .look_title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.look_title a {
    text-decoration: none;
    color: #572c10;
}
